<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="ADO_query"
      providerName="System.Data.SqlClient"
      connectionString="Server=ANASTASIA\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=CrimeAndPunishment;" />
  </connectionStrings>
</configuration>